@page "/Error"
@attribute [AllowAnonymous]
@using System.Diagnostics

<PageTitle>Fout</PageTitle>

<h1 class="text-danger">Fout.</h1>
<h2 class="text-danger">Er is een fout opgetreden bij het verwerken van uw verzoek.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Aanvraag-ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>Ontwikkelmodus</h3>
<p>
    Overschakelen naar de <strong>Development</strong>-omgeving geeft meer gedetailleerde informatie over de opgetreden
    fout.
</p>
<p>
    <strong>De Development-omgeving mag niet ingeschakeld zijn voor uitgereden applicaties.</strong>
    Dit kan leiden tot het tonen van gevoelige informatie aan eindgebruikers.
    Schakel voor lokale foutopsporing de <strong>Development</strong>-omgeving in door de omgevingsvariabele
    <strong>ASPNETCORE_ENVIRONMENT</strong> op <strong>Development</strong> in te stellen en de app opnieuw te starten.
</p>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
